body {
    background: url('../assets/stars.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.33);
    padding: 20px;
    width: 40%;
    margin: auto;
    border-radius: 10px;
}

.nota1{
    font-size: 12px;
}

.nota2{
    font-size: 10px;
}

input, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

button {
    background: #ff9800;
    color: black;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #e68900;
}